
@page "/authors"
@inject NavigationManager  NavigationManager
@inject IAuthorService AuthorService
@inject IJSRuntime JSRuntime

@using Blazor_HelloWorld.Data.Interface
@using Blazor_HelloWorld.Data.Model
@using Blazor_HelloWorld.Shared.Components

<h3>Authors</h3>
<hr />


@*<button class="btn btn-primary" @onclick="Navigate">Click me</button>*@


<div class="col-12">

    <h3>Enter Author Information</h3>
    <hr />

    <ServerValidation isVisible="@isVisible" Message="@Message" />

    <EditForm Model="@author" OnValidSubmit="@SaveAuthor">
        <DataAnnotationsValidator />  @*Check vlidation fields*@

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">First Name:</label>
            <input class="form-control col-3" @bind="author.FirstName" placeholder="First Name" @ref="TxtFirstName" />
            &nbsp;<ValidationMessage For="@(()=> author.FirstName)" />
        </div>

        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Last Name:</label>
            <InputText class="form-control col-3" @bind-Value="author.LastName" placeholder="Last Name" />
        </div>
        <br />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">City</label>

            <SelectCity CurrentCity="@author.City"></SelectCity>
        </div>
        <br />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Email Address:</label>
            <InputText class="form-control col-3" @bind-Value="author.EmailAddress" placeholder="Email Address" />
            &nbsp;<ValidationMessage For="@(()=> author.EmailAddress)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Salary</label>
            <InputNumber class="form-control col-3" @bind-Value="author.Salary" placeholder="Salary " />
            &nbsp;<ValidationMessage For="@(()=> author.Salary)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control btn btn-primary col-1" value="Save" />
            <span>&nbsp;</span>
        </div>
    </EditForm>

</div>
<br />

<table class="table">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>City</td>
            <td>Salary</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            var authors = AuthorService.GetAuthors();
            foreach (var author in authors)
            {
                <tr>
                    <td>@author.FirstName </td>
                    <td>@author.LastName</td>
                    <td>@author.City </td>
                    <td>@author.Salary </td>
                    <td>
                        <NavLink href="@string.Format("authors/authordetail/{0}",author.AuthorID)">
                            @author.AuthorID
                        </NavLink>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />

<div class="col-12 row">@AuthorService.GetCreatedDate()</div>
<div class="col-12 row">Version: @AuthorService.GetVersion()</div>


@code {

    #region Properties

    public Author author { get; set; }


    // We can only reference HTML components, Razor components cannot be referenced
    ElementReference TxtFirstName;

    public bool isVisible { get; set; }
    public string Message { get; set; }


    #endregion


    protected override void OnInitialized()
    {
        author = new Author();

    }

    #region Events

    private async Task SaveAuthor()
    {
        isVisible = true;
        Message = "Author has been sucesfully saved";

        //await JSRuntime.InvokeVoidAsync("SaveAuthor", author.FirstName);
        await JSRuntime.InvokeVoidAsync("SetFocusOnElement", TxtFirstName);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("/authors/authordetail/15");
    }
    #endregion

}
